/* Login.css */



.signup-container {
  background-color: #f0f0f0;
  /* padding: 20px; */
  position: relative;
  padding: 3rem;
  border-radius: 5px;
  box-shadow: 15px 12px 12px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
  margin: 20px auto;
  background-image: url(../assets/cloudybgrd.jpg);
  background-size: cover;
}

.signup-container h2 {
  
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 20px;
  color: rgb(64, 185, 255);
  font-size: 3rem;
  cursor: default;
}

.signup-form {
  display: flex;
  flex-direction: column;
}

.signup-form label {
  font-weight: bold;
  font-size: 19px;
  margin-bottom: 5px;
  cursor: pointer;
  color: rgb(255, 134, 64);
  
  text-align: left;
} 
.signup-form label:hover {
  
  color: rgb(247, 107, 25);
  font-size: 21px;
} 




.signup-form input[type="text"],
.signup-form input[type="password"],
.signup-form input[type="number"],
.signup-form input[type="tel"], 
.signup-form input[type="email"] {
  width: 100%;
  padding: 10px;
  border: none;

  background: linear-gradient(to left top ,magenta,pink);
  /* border: 1px solid #ccc; */
  border-radius: 50px;
  outline: none;
  margin-bottom: 1.5rem;
}

.signup-form input[type="password"]:hover {
  transform: scale(1.1);
  background: linear-gradient(to left top ,pink,magenta);
 
}

.signup-form input[type="text"]:hover   {
  transform: scale(1.1);
  background: linear-gradient(to left top ,pink,magenta);
 
}
.signup-form input[type="email"]:hover   {
  transform: scale(1.1);
  background: linear-gradient(to left top ,pink,magenta);
 
}
.signup-form input[type="number"]:hover   {
  transform: scale(1.1);
  background: linear-gradient(to left top ,pink,magenta);
 
}


.signup-form button[type="submit"] {
  background: linear-gradient(to left top ,orange,yellow);
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signup-form button[type="submit"]:hover {
  background: linear-gradient(to left top ,yellow ,orange);
}

.Linkbtn {
  
  color: white;
  padding: 12px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: linear-gradient(to left top ,orange,yellow);
  transition: background-color 0.3s ease;
}

.Linkbtn:hover {
  background: linear-gradient(to left top ,yellow ,orange);
}


  .switchingmsg{
    color: rgb(7, 201, 94);
    font-weight: 500;
  }